{% extends 'base.html' %}

{% block style %}
    {{ block.super }}
    {% include 'includes/table_style.html' %}
{% endblock %}

{% block title %}Feedback{% endblock %}

{% block content %}
    <p>
        <a href="/contact_us/create/">Create new feedback</a>
    </p>
    {% if object_list %}
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Update</th>
                <th>Delete</th>
                <th>Details</th>
            </tr>
            {% for feedback in object_list %}
                <tr>
                    <td>{{ feedback.id }}</td>
                    <td>{{ feedback.email_from }}</td>
                    <td>{{ feedback.subject }}</td>
                    <td><a href="/contact_us/update/{{ feedback.id }}/">Update</a></td>
                    <td><a href="/contact_us/delete/{{ feedback.id }}/">Delete</a></td>
                    <td><a href="/contact_us/details/{{ feedback.id }}/">Details</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        DB is empty so far
    {% endif %}
{% endblock %}
