{% extends 'base.html' %}

{% block title %}Feedback List{% endblock %}

{% block content %}
    <div class="container mt-4">
        <a href="{% url 'currency:contactus-create' %}">Create new feedback</a>
    </div>

    {% if object_list %}
        <div class="container my-3">
            {% include 'includes/filter.html' %}
        </div>
        <div class="container my-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for feedback in object_list %}
                        <tr>
                            <td>{{ feedback.id }}</td>
                            <td>{{ feedback.email_from }}</td>
                            <td>{{ feedback.subject }}</td>
                            <td>
                                <a href="{% url 'currency:contactus-details' feedback.id %}">Details</a>
                                <a href="{% url 'currency:contactus-update' feedback.id %}">Update</a>
                                <a href="{% url 'currency:contactus-delete' feedback.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container mt-3">
            {% include 'includes/pagination.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block on_empty_db %}
    {% if not object_list and filter_params %}
        {% if filter_params %}
            None of the records match the filter parameters
        {% else %}
            There are no records in Contact Us DB!
        {% else %}
    {% endif %}
{% endblock %}
