{% extends 'base.html' %}

{% block title %}Feedback Details{% endblock %}

{% block content %}
    <div class="container mt-4">
        <a href="{% url 'currency:contactus-create' %}">Create new feedback</a>
    </div>

    <div class="container my-3">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ contactus.id }}</td>
                    <td>{{ contactus.email_from }}</td>
                    <td>{{ contactus.subject }}</td>
                    <td>{{ contactus.message }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
