Celery
Django
django-extensions
ipython
django-phonenumber-field
phonenumbers
django-debug-toolbar
django-admin-rangefilter
django-import-export
Pillow
django-storages
boto3
django-crispy-forms
crispy_bootstrap5
requests
beautifulsoup4

# flake8
flake8
flake8-builtins
flake8-print
