Django
django-extensions
ipython
django-phonenumber-field
phonenumbers
django-debug-toolbar
django-admin-rangefilter
django-import-export
Pillow
django-storages
boto3

# flake8
flake8
flake8-builtins
flake8-print
