{% extends 'base.html' %}

{% block title %}Source List{% endblock %}

{% block content %}
    <div class="container mt-4">
        <a href="{% url 'currency:source-create' %}">Create new source</a>
    </div>

    {% if object_list %}
        <div class="container my-3">
            {% include 'includes/filter.html' %}
        </div>
        <div class="container my-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">URL</th>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for source in object_list %}
                        <tr>
                            <td>{{ source.id }}</td>
                            <td>{{ source.url }}</td>
                            <td>{{ source.name }}</td>
                            <td>
                                <a href="{% url 'currency:source-details' source.id %}">Details</a>
                                <a href="{% url 'currency:source-update' source.id %}">Update</a>
                                <a href="{% url 'currency:source-delete' source.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container mt-3">
            {% include 'includes/pagination.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block on_empty_db %}
    {% if not object_list and filter_params %}
        {% if filter_params %}
            None of the records match the filter parameters
        {% else %}
            There are no records in Source DB!
        {% endif %}
    {% endif %}
{% endblock %}
