{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Delete Feedback{% endblock %}

{% block content %}
    <div class="container mt-4">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row justify-content-center my-3">
                <h5 class="text-center">
                    Do you really want to delete feedback form with ID = {{ contactus.id }}
                </h5>
            </div>
            <div class="row justify-content-center my-3">
                <button type="submit" class="btn btn-danger col-2">Delete</button>
            </div>
        </form>
    </div>
{% endblock %}
