{% extends 'base.html' %}

{% block style %}
    {{ block.super }}
    {% include 'includes/table_style.html' %}
{% endblock %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    {% if user_data %}
        <table>
            <tr>
                <th>Email</th>
                <th>Subject</th>
                <th>Text</th>
            </tr>
            {% for user in user_data %}
            <tr>
                <td>{{ user.email_from }}</td>
                <td>{{ user.subject }}</td>
                <td>{{ user.message }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        DB is empty so far
    {% endif %}
{% endblock %}
