{% extends 'base.html' %}

{% block style %}
    {{ block.super }}
    {% include 'includes/table_style.html' %}
{% endblock %}

{% block title %}List{% endblock %}

{% block content %}
    {% if currency_lst %}
        <table>
            <tr>
                <th>ID</th>
                <th>Currency</th>
                <th>Buy</th>
                <th>Sell</th>
                <th>Created</th>
                <th>Source</th>
            </tr>
            {% for currency in currency_lst %}
            <tr>
                <td>{{ currency.id }}</td>
                <td>{{ currency.currency }}</td>
                <td>{{ currency.buy }}</td>
                <td>{{ currency.sell }}</td>
                <td>{{ currency.created }}</td>
                <td>{{ currency.source }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        DB is empty so far
    {% endif %}
{% endblock %}
