{% extends 'base.html' %}

{% block title %}Rate List{% endblock %}

{% block content %}
    <div class="container mt-4">
        <a href="{% url 'currency:rate-create' %}">Create new rate</a>
    </div>

    {% if object_list %}
        <div class="container my-3">
            {% include 'includes/filter.html' %}
        </div>
        <div class="container my-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Buy</th>
                        <th scope="col">Sell</th>
                        <th scope="col">Source</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for rate in object_list %}
                        <tr>
                            <td>{{ rate.id }}</td>
                            <td>{{ rate.get_currency_display }}</td>
                            <td>{{ rate.buy }}</td>
                            <td>{{ rate.sell }}</td>
                            <td>{{ rate.source }}</td>
                            <td>
                                <a href="{% url 'currency:rate-details' rate.id %}">Details</a>
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'currency:rate-update' rate.id %}">Update</a>
                                    <a href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container mt-3">
            {% include 'includes/pagination.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block on_empty_db %}
    {% if not object_list and filter_params %}
        {% if filter_params %}
            None of the records match the filter parameters
        {% else %}
            There are no records in Rate DB!
        {% endif %}
    {% endif %}
{% endblock %}
