{% extends 'base.html' %}

{% block title %}Rate List{% endblock %}

{% block content %}
    <div class="container">
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'currency:rate-create' %}">Create new rate</a>
                    </li>
                </ul>
            </nav>
        </div>

    {% if object_list %}
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Buy</th>
                        <th scope="col">Sell</th>
                        <th scope="col">Source</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for rate in object_list %}
                        <tr>
                            <td>{{ rate.id }}</td>
                            <td>{{ rate.get_currency_display }}</td>
                            <td>{{ rate.buy }}</td>
                            <td>{{ rate.sell }}</td>
                            <td>{{ rate.source }}</td>
                            {% if request.user.is_superuser %}
                                <td><a href="{% url 'currency:rate-update' rate.id %}">Update</a></td>
                                <td><a href="{% url 'currency:rate-delete' rate.id %}">Delete</a></td>
                            {% else %}
                                <td><a href="{% url 'currency:rate-details' rate.id %}">Details</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block on_empty_db %}
    {% if not object_list %}
        There are no records in Rate DB!
    {% endif %}
{% endblock %}
