{% extends 'base.html' %}

{% block style %}
    {{ block.super }}
    {% include 'includes/table_style.html' %}
{% endblock %}

{% block title %}Rate List{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'currency:rate-create' %}">Create new rate</a>
    </p>
    {% if object_list %}
        <table>
            <tr>
                <th>ID</th>
                <th>Currency</th>
                <th>Buy</th>
                <th>Sell</th>
                {% if request.user.is_superuser %}
                    <th>Update</th>
                    <th>Delete</th>
                {% endif %}
                <th>Details</th>
            </tr>
            {% for rate in object_list %}
                <tr>
                    <td>{{ rate.id }}</td>
                    <td>{{ rate.get_currency_display }}</td>
                    <td>{{ rate.buy }}</td>
                    <td>{{ rate.sell }}</td>
                    {% if request.user.is_superuser %}
                        <td><a href="{% url 'currency:rate-update' rate.id %}">Update</a></td>
                        <td><a href="{% url 'currency:rate-delete' rate.id %}">Delete</a></td>
                    {% endif %}
                    <td><a href="{% url 'currency:rate-details' rate.id %}">Details</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        DB is empty so far
    {% endif %}
{% endblock %}
